TIPO=VARIACAO_CAMPO_EXTERNO
LARGURA_REDE=200
ALTURA_REDE=200
INTERACAO_VIZINHOS=1
CAMPO_EXTERNO_INICIAL=-0.06
CAMPO_EXTERNO_FINAL=0.06
PONTOS_DE_CAMPO_EXTERNO=100
CONSTANTE_BOLTZMAN=1
TEMPERATURA=1
PASSOS_MONTECARLO=5000
IDENTIFICADOR=rede_200_200_2kelvin_campo_externo_-006_006
GERAR_GIF=1
GERAR_GRAFICOS=1
NUMERO_FRAMES_GIF=100