TIPO=VARIACAO_TEMPERATURA
LARGURA_REDE=128
ALTURA_REDE=128
INTERACAO_VIZINHOS=1
CAMPO_EXTERNO=0
CONSTANTE_BOLTZMAN=1
TEMPERATURA_INICIAL=0.1
TEMPERATURA_FINAL=5
PONTOS_DE_TEMPERATURA=100
PASSOS_MONTECARLO=5000
IDENTIFICADOR=rede_128_128_01kelvin_5kelvin_sem_campo_externo
GERAR_GIF=1
GERAR_GRAFICOS=1
NUMERO_FRAMES_GIF=100