TIPO=VARIACAO_CAMPO_EXTERNO
LARGURA_REDE=20
ALTURA_REDE=20
INTERACAO_VIZINHOS=0.9
CAMPO_EXTERNO_INICIAL=0
CAMPO_EXTERNO_FINAL=5
PONTOS_DE_CAMPO_EXTERNO=100
CONSTANTE_BOLTZMAN=1
TEMPERATURA=1.5
PASSOS_MONTECARLO=1000
IDENTIFICADOR=rede_20_20_2kelvin_campo_externo_0_1
GERAR_GIF=1
GERAR_GRAFICOS=1
NUMERO_FRAMES_GIF=100